*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

#scrollcontainer {
    position: fixed;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
#img{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
#scrolldiv{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
}

#waittextdiv{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    font-size: xx-large;
    color: black;
    text-align: center;
}

#info{
    position: absolute;
    top: 90vh;
    left: 0px;
    width: 100%;
    transition: top .3s ease-out;
    z-index: 3;
}
#info.expanded{
    top: 10vh;
}

#info > #text {
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 100%;
    overflow: auto;
    color: #fff;
    padding: 1vw;
    text-align: justify;
    font-size: large;
    background-color: #000;
}

#info > #btn {
    position: absolute;
    top: 0vh;
    left: 0px;
    width: 100%;
    height: 10vh;
    background-color: #000;
    border-top-left-radius: 50vw 10vh;
    border-top-right-radius: 50vw 10vh;
    line-height: 10vh;
    font-size: 4vh;
    color: white;
    text-align: center;
}
