*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* ::-webkit-scrollbar {
    display:none;
} */

body {
    overflow-x: hidden;
}

#scrollcontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
#img{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
#scrolldiv{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
}

#waittextdiv{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    font-size: xx-large;
    color: black;
    text-align: center;
}

#info{
    position: absolute;
    top: 90vh;
    left: 0px;
    width: 100vw;
    height: 90vh;
    background-color: #000000;
    border-top-left-radius: 50vw 10vh;
    border-top-right-radius: 50vw 10vh;
    border: none;
    transition: top .3s ease-out;
    overflow: hidden;
    z-index: 3;
}
#info.expanded{
    top: 10vh;
}

#info > #text {
    position: absolute;
    top: 10vh;
    left: 0px;
    width: 100%;
    height: 80vh;
    overflow: auto;
    color: #fff;
    padding: 1vw;
    text-align: justify;
    font-size: large;
}

#info > #btn {
    position: absolute;
    top: 0vh;
    left: 0px;
    width: 100%;
    height: 10vh;
}
#info > #btn > .left {
    position: absolute;
    top: 4vh;
    left: calc(50vw - 3vh - 4.24vh + .6Vh);
    width: 8.485vh;
    height: 2vh;
    background-color: #fff;
    border-radius: 1vh;
    transform: rotate(-45deg);
    transition: transform .3s ease-out;
}
#info > #btn > .right {
    position: absolute;
    top: 4vh;
    left: calc(50vw + 3vh - 4.24vh - .6vh);
    width: 8.485vh;
    height: 2vh;
    background-color: #fff;
    border-radius: 1vh;
    transform: rotate(45deg);
    transition: transform .3s ease-out;
}
#info.expanded > #btn > .left {
    transform: rotate(45deg);
}
#info.expanded > #btn > .right {
    transform: rotate(-45deg);
}


